.input-Wrapper {
    margin: 10px;
}

.input-field {
    width: 200px;
    height: 30px;
    margin: 10px;
}

.button {
    width: 200px;
    height: 30px;
}

.container {
    text-align: center;
}

.button-link {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    color: skyblue;
    margin: 10px;
}

.input-error {
    position: absolute;
    color: red;
    padding: 8px;
    font-size: 14px;
}

table,td,th {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}
table td button{
    margin: 5px;
    text-transform: capitalize;
}