.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper ul {
    display: flex;
}

.header-wrapper ul li {
    list-style-type: none;
    padding: 5px;
}
.header-wrapper ul li a{
    text-decoration: none;
}

.footer-wrapper{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 10px;
    background-color: white;
}